In [153]:
import pandas as pd

In [154]:
# read data
data = pd.read_csv('data_1.csv')
data.head()

,Index,custid,trade_no,bank_card_no,low_volume_percent,middle_volume_percent,take_amount_in_later_12_month_highest,trans_amount_increase_rate_lately,trans_activity_month,trans_activity_day,...,loans_max_limit,loans_avg_limit,consfin_credit_limit,consfin_credibility,consfin_org_count_current,consfin_product_count,consfin_max_limit,consfin_avg_limit,latest_query_day,loans_latest_day
0,5,2791858,20180507115231274000000023057383,卡号1,0.01,0.99,0,0.90,0.55,0.313,...,2900.0,1688.0,1200.0,75.0,1.0,2.0,1200.0,1200.0,12.0,18.0
1,10,534047,20180507121002192000000023073000,卡号1,0.02,0.94,2000,1.28,1.00,0.458,...,3500.0,1758.0,15100.0,80.0,5.0,6.0,22800.0,9360.0,4.0,2.0
2,12,2849787,20180507125159718000000023114911,卡号1,0.04,0.96,0,1.00,1.00,0.114,...,1600.0,1250.0,4200.0,87.0,1.0,1.0,4200.0,4200.0,2.0,6.0
3,13,1809708,20180507121358683000000388283484,卡号1,0.00,0.96,2000,0.13,0.57,0.777,...,3200.0,1541.0,16300.0,80.0,5.0,5.0,30000.0,12180.0,2.0,4.0
4,14,2499829,20180507115448545000000388205844,卡号1,0.01,0.99,0,0.46,1.00,0.175,...,2300.0,1630.0,8300.0,79.0,2.0,2.0,8400.0,8250.0,22.0,120.0

In [155]:
data.shape

(4754, 90)

In [156]:
data['status'].value_counts()

0    3561
1    1193
Name: status, dtype: int64

In [157]:
data.dtypes.value_counts()

float64    70
int64      13
object      7
dtype: int64

In [158]:
data.select_dtypes('object').apply(pd.Series.nunique, axis=0)

trade_no                   4754
bank_card_no                  1
reg_preference_for_trad       5
source                        1
id_name                    4309
latest_query_time           207
loans_latest_time           232
dtype: int64

In [159]:
data = data.drop(['trade_no', 'bank_card_no', 'source', 'id_name', 'latest_query_time'], axis=1)
data.head()

,Index,custid,low_volume_percent,middle_volume_percent,take_amount_in_later_12_month_highest,trans_amount_increase_rate_lately,trans_activity_month,trans_activity_day,transd_mcc,trans_days_interval_filter,...,loans_max_limit,loans_avg_limit,consfin_credit_limit,consfin_credibility,consfin_org_count_current,consfin_product_count,consfin_max_limit,consfin_avg_limit,latest_query_day,loans_latest_day
0,5,2791858,0.01,0.99,0,0.90,0.55,0.313,17.0,27.0,...,2900.0,1688.0,1200.0,75.0,1.0,2.0,1200.0,1200.0,12.0,18.0
1,10,534047,0.02,0.94,2000,1.28,1.00,0.458,19.0,30.0,...,3500.0,1758.0,15100.0,80.0,5.0,6.0,22800.0,9360.0,4.0,2.0
2,12,2849787,0.04,0.96,0,1.00,1.00,0.114,13.0,68.0,...,1600.0,1250.0,4200.0,87.0,1.0,1.0,4200.0,4200.0,2.0,6.0
3,13,1809708,0.00,0.96,2000,0.13,0.57,0.777,22.0,14.0,...,3200.0,1541.0,16300.0,80.0,5.0,5.0,30000.0,12180.0,2.0,4.0
4,14,2499829,0.01,0.99,0,0.46,1.00,0.175,13.0,66.0,...,2300.0,1630.0,8300.0,79.0,2.0,2.0,8400.0,8250.0,22.0,120.0

In [160]:
# 缺失值处理
# Function to calculate missing values by column
def missing_values_table(df):
        # Total missing values
        mis_val = df.isnull().sum()
        
        # Percentage of missing values
        mis_val_percent = 100 * df.isnull().sum() / len(df)
        
        # Make a table with the results
        mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
        
        # Rename the columns
        mis_val_table_ren_columns = mis_val_table.rename(
        columns = {0 : 'Missing Values', 1 : '% of Total Values'})
        
        # Sort the table by percentage of missing descending
        mis_val_table_ren_columns = mis_val_table_ren_columns[
            mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
        '% of Total Values', ascending=False).round(1)
        
        # Print some summary information
        print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"      
            "There are " + str(mis_val_table_ren_columns.shape[0]) +
              " rows that have missing values.")
        
        # Return the dataframe with missing information
        return mis_val_table_ren_columns

In [161]:
missing_values = missing_values_table(data)
missing_values.head(20)

Your selected dataframe has 85 columns.
There are 72 rows that have missing values.

                                  Missing Values  % of Total Values
student_feature                             2998               63.1
cross_consume_count_last_1_month             426                9.0
query_cash_count                             304                6.4
latest_three_month_apply                     304                6.4
latest_one_month_apply                       304                6.4
query_sum_count                              304                6.4
query_finance_count                          304                6.4
query_org_count                              304                6.4
apply_credibility                            304                6.4
apply_score                                  304                6.4
latest_six_month_apply                       304                6.4
latest_query_day                             304                6.4
loans_max_limit                              297                6.2
loans_product_count                          297                6.2
consfin_avg_limit                            297                6.2
consfin_max_limit                            297                6.2
loans_credibility_behavior                   297                6.2
consfin_product_count                        297                6.2
consfin_org_count_current                    297                6.2
consfin_credibility                          297                6.2

In [162]:
data['student_feature'].describe()

count    1756.000000
mean        1.001139
std         0.033739
min         1.000000
25%         1.000000
50%         1.000000
75%         1.000000
max         2.000000
Name: student_feature, dtype: float64

In [163]:
data['student_feature'] = data['student_feature'].fillna(1)

In [164]:
cols = missing_values.index
list=['loans_latest_time','reg_preference_for_trad']
for col in cols:   
    if col not in list:
        data[col] = data[col].fillna(data[col].mean())

In [165]:
data['loans_latest_time'] = data['loans_latest_time'].fillna(0)

In [166]:
data['reg_preference_for_trad'] = data['reg_preference_for_trad'].fillna(0)

In [167]:
missing_values = missing_values_table(data)
missing_values.head()

Your selected dataframe has 85 columns.
There are 0 rows that have missing values.

Empty DataFrame
Columns: [Missing Values, % of Total Values]
Index: []

In [168]:
data_label = data['status']
data = data.drop(['status'], axis=1)

In [169]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(data, data_label, test_size=.3, random_state=2018)
print("Training Size:{}".format(x_train.shape))
print('Testing Size:{}'.format(x_test.shape))

Training Size:(3327, 84)
Testing Size:(1427, 84)